<% include ../partials/header %>

<h1 style="text-align: center;">Edit Playground - <%= playground.name %></h1>
<div class="row">
    <div style="width: 30%; margin: 25px auto">
        <form action="/playgrounds/<%= playground.id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Playground Name<span id="required"> *</span></label>
                <input class="form-control" type="text" value="<%= playground.name %>" name="name" required></input>
            </div>
            <div class="form-group">
                <label for="price">Price<span id="required"> *</span></label>
                <input class="form-control" type="number" value="<%= playground.price %>" name="price" min="0.00" step="0.01" required></input>
            </div>
            <div class="form-group">
                <label for="priceNotes">Price Notes<span id="required"> *</span></label>
                <input class="form-control" type="text" name="priceNotes" value="<%= playground.priceNotes %>" id="priceNotes" required></input>
            </div>
            <div class="form-group">
                <label for="location">Location<span id="required"> *</span></label>
                <input class="form-control" type="text" name="location" id="location" value="<%= playground.location %>" required>
            </div>
            <div class="form-group">
                <label for="image">Playground Image URL<span id="required"> *</span></label>
                <input class="form-control" type="text" value="<%= playground.image %>" name="image" required></input>
            </div>
            <div class="form-group">
                <label for="description">Playground Description</label>
                <input class="form-control" type="text" value="<%= playground.description %>" name="description"></input>
            </div>
            
            <div class="form-group">
                <label for="sport">Available Sports<span id="required"> *</span></label>
                <input class="form-control" type="text" name="sport" id="sport" value="<%= playground.sport %>" required></input>
            </div>
            
            <!--Checkboxes-->
            <div class="form-group" style="display:inline-block">
                <label for="lights">Lights Available</label>
                <input class="form-control" type="checkbox" name="lights" id="lights" <%= playground.lights ? "checked" : "" %>></input>
            </div>
            
            <div class="form-group">
                <legend>Playground Type</legend>
                <div style="display:inline-block">
                    <label for="indoor">Indoor</label>
                    <input class="form-control" type="checkbox" name="type" id="indoor" value="indoor" <%= playground.type === "indoor" ? "checked" : "" %>></input>
                </div>
                <div style="display:inline-block">
                    <label for="outdoor">Outdoor</label>
                    <input class="form-control" type="checkbox" name="type" id="outdoor" value="outdoor" <%= playground.type === "outdoor" ? "checked" : "" %>></input>
                </div>
            </div>
            
            <!--End of Checkboxes-->
            
            <div class="form-group">
                <button class="btn btn-lrg btn-default btn-block btn-secondary">Submit!</button>
            </div>
        </form>
        <a href="/playgrounds/<%= playground._id %>">Go Back</a>
    </div>
</div>


<% include ../partials/footer %>