<% include ../partials/header %>


<div class="row">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header text-center">
                <strong>PLAYGROUND INFORMATION</strong>
            </div>
            <div class="list-group list-group-flush">
                <li class="list-group-item"><strong>Type of Playground: </strong><%= playground.type.toUpperCase() %></li>
                <li class="list-group-item"><strong>Sports Available: </strong><%= playground.sport.toUpperCase() %></li>
                <li class="list-group-item"><strong>Lights: </strong>
                    <% if(playground.lights){ %>
                        YES</li>
                    <% } else { %>
                        NO</li>
                    <% } %>
            </div>
        </div>
        <div id="map" class="border rounded"></div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="<%= playground.image %>"></img>
            <div class="card-body">
                <h5 class="float-right card-title"><span id="price">$<%= playground.price %></span> - <%= playground.priceNotes %></h5>
                <h4><a href="#"><%= playground.name %></a></h4>
                <p><%= playground.description %></p>
                <p>
                    <em>Submitted by: <a href="/users/<%= playground.author.id %>"><%= playground.author.username %></a>, <%= moment(playground.createdAt).fromNow() %></em>
                </p>
                <% if(currentUser && playground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                    <a class="btn btn-warning" href="/playgrounds/<%= playground._id %>/edit">Edit</a>
                    <form id="delete-form" action="/playgrounds/<%= playground.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% }%>
                
            </div>
        </div>
        <div class="card bg-light mt-4 mb-4">
            <div class="card-header">
                <a class="btn btn-secondary float-right" href="/playgrounds/<%= playground._id %>/comments/new">Leave a Review</a>
            </div>
            <div class="card-body">
            <% playground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="float-right text-muted"><%= moment(comment.createdAt).fromNow() %></span>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <a class="btn btn-outline-warning btn-sm" href="/playgrounds/<%=playground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form id="delete-form" action="/playgrounds/<%=playground.id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-danger btn-sm">Delete</button>
                            </form>
                        <% }%>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= playground.lat %>;
    var lng = <%= playground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= playground.name %><br />
      <%= playground.location %></strong>
      <p><%= playground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD03iAY45xCjy0HSlpFN6A1hmP5rHRZMKA&callback=initMap"></script>

<% include ../partials/footer %>