<% include ../partials/header %>


<div class="row">
    <div class="col-md-3">
        <p class="lead">Playgrounds</p>
        <div class="list-group">
            <li class="list-group-item"><strong>Type of Playground: </strong><%= playground.type.toUpperCase() %></li>
            <li class="list-group-item"><strong>Sports Available: </strong><%= playground.sport.toUpperCase() %></li>
            <li class="list-group-item"><strong>Lights: </strong>
                <% if(playground.lights){ %>
                    YES</li>
                <% } else { %>
                    NO</li>
                <% } %>
        </div>
        <div id="map"></div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="image-responsive" src="<%= playground.image %>"></img>
            <div class="caption">
                <h4 class="pull-right"><span id="price">$<%= playground.price %></span> - <%= playground.priceNotes %></h4>
                <h4><a><%= playground.name %></a></h4>
                <p><%= playground.description %></p>
                <p>
                    <em>Submitted by: <a href="/users/<%= playground.author.id %>"><%= playground.author.username %></a>, <%= moment(playground.createdAt).fromNow() %></em>
                </p>
                <% if(currentUser && playground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                    <a class="btn btn-warning" href="/playgrounds/<%= playground._id %>/edit">Edit</a>
                    <form id="delete-form" action="/playgrounds/<%= playground.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% }%>
                
            </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/playgrounds/<%= playground._id %>/comments/new">Leave a Review</a>
            </div>
            <hr>
            <% playground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <a class="btn btn-warning btn-xs" href="/playgrounds/<%=playground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form id="delete-form" action="/playgrounds/<%=playground.id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-xs">Delete</button>
                            </form>
                        <% }%>
                        
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= playground.lat %>;
    var lng = <%= playground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= playground.name %><br />
      <%= playground.location %></strong>
      <p><%= playground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD03iAY45xCjy0HSlpFN6A1hmP5rHRZMKA&callback=initMap"></script>

<% include ../partials/footer %>